{% extends "layout.html" %}
{% block title %} Pricing {% endblock %}
{% block main %}

<div class="container">
    <h2>Price list</h2>
    <p>Here are the prices of some of the most popular procedures:</p>
    <table class="table table-condensed">
        <!-- https://www.w3schools.com/bootstrap/bootstrap_tables.asp -->
        <thead>
            <tr>
                <th>Operation</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Basic examination</td>
                <td>1st or any non emergency visit of patient</td>
                <td>10 €</td>
            </tr>
            <tr>
                <td>Vaccination</td>
                <td>Price depends on type of vaccine</td>
                <td>20 - 50 €</td>
            </tr>
            <tr>
                <td>Nail trimming</td>
                <td>Or other similar non invasive procedure</td>
                <td>5 €</td>
            </tr>
            <tr>
                <td>Emergency visit</td>
                <td>Price relies on the type of emergency</td>
                <td>10 - 50 €</td>
            </tr>
            <tr>
                <td>Hospitalisation</td>
                <td>Price per day</td>
                <td>15 €</td>
            </tr>
            <tr>
                <td>Castration</td>
                <td>Dog or cat</td>
                <td>40 €</td>
            </tr>
            <tr>
                <td>Dental treatment</td>
                <td>Extractions, cleaning, polishing</td>
                <td>40 - 100 €</td>
            </tr>
            <tr>
                <td>Invasive or surgery</td>
                <td>Price depends on the procedure</td>
                <td>20 - 100 €</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
